@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;

}

p{
    font-size: 12px;
    font-weight: 400px;

}

/* shared styles */
.heading-text{
    font-size: 32px;
    font-weight: 700;
}


/* banner-section */
.banner-section{
    max-width: 1440px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 26px 221px 44px 221px;
    
}

.banner-section h1 p{
font-size: 48px;
font-weight: 800;
}

.contact-btn{
    width: 208px;
    height: 66px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

/* why-dev-section */
.why-dev-section{
    max-width: 1140px;
    height: 1395px;
    margin: 74px 150px 0px 150px;
    background-color: #0D132105;
    padding: 30px;

}

.dev-reasons{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
}

.dev-reason{
    display: flex;
    padding: 48px;
    gap: 100px;
    margin: 48px 48px;
    background-color: white;
    border-radius: 16px;
}


/* inspiration-section */
.inspiration-section{
    max-width:1140px;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 88px 150px 111px 150px;


}




/* current-target-section */
.current-target-section{
    max-width: 1140px;
    height: 463px;
    margin: 0px 150px 111px 150px;
}

.heading-section{
    text-align: center;

}

.heading-section p{
    padding: 0px 144px 28px 144px;
}

.targets{
    display: flex;
    gap: 24px;

}

.target{
    padding: 40px;
    border-radius: 16px;

}


#bg-html{
    background-color: #FF4C1E0D;
}

#bg-css{
    background-color: #004CE80D;
}

#bg-js{
    background-color: #FFDF000D;
}


/* support-section */
.support-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 150px 79px 150px;
    padding: 64px 48px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    color: #FFFFFF;
    max-width: 1140px;
    height: 314px;

}




.support-section input{
    width: 548px;
    height: 57px;
    text-align: center start;
    padding-left: 15px;
    border-radius: 8px;
    margin-top: 24px ;
}

.support-section button{
    width: 120px;
    height: 58px;
    border-radius: 8px;
}






/* footer-section */
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 32px 150px;
    max-width:1440px;
    height: 80px;
    background-color: #0D132108;

}

.contact-links{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}




